.container
  div history count {{ comicCtrl.history.length }}
  br

table.table.table-hover
  tbody(ng-repeat="(key, value) in comicCtrl.history | groupBy: 'title'")
    tr(ng-click="historyIsCollapsed = !historyIsCollapsed")
      td
        strong {{ key }} &nbsp;
        span.badge {{ value.length }}
      td
        span.glyphicon.glyphicon-chevron-down.pull-right(ng-show="historyIsCollapsed")
        span.glyphicon.glyphicon-chevron-up.pull-right(ng-hide="historyIsCollapsed")
    tr(uib-collapse="!historyIsCollapsed" ng-repeat="comic in value | orderBy: 'id'")
      td
        a(href="{{ comic.url }}") {{ comic.name }}
      td
        button.close(type='button' ng-click="comicCtrl.deleteHistory(comic)") &times;
