.container
  uib-tabset(active="active")
    uib-tab(index="0" heading="comic")
      div comic count {{ comicCtrl.comics.length }}
      table.table.table-hover
        thead
          tr
            th name
        tbody(ng-repeat="(key, value) in comicCtrl.comics | groupBy: 'title'")
          tr(ng-click="comicsIsCollapsed = !comicsIsCollapsed")
            td(colspan="2")
              strong {{ key }} &nbsp;
              span.badge {{ value.length }}
              span.glyphicon.glyphicon-chevron-down.pull-right(ng-show="comicsIsCollapsed")
              span.glyphicon.glyphicon-chevron-up.pull-right(ng-hide="comicsIsCollapsed")
          tr(uib-collapse="!comicsIsCollapsed" ng-repeat="comic in value | orderBy: 'id'")
            td
              a(href="{{ comic.url }}") {{ comic.name }}
            td
              span.glyphicon.glyphicon-star.pull-right(ng-show="{{ comic.recent }}")
    uib-tab(index="1" heading="history")
      div history count {{ comicCtrl.history.length }}
      table.table.table-hover
        thead
          tr
            th name
        tbody(ng-repeat="(key, value) in comicCtrl.history | groupBy: 'title'")
          tr(ng-click="historyIsCollapsed = !historyIsCollapsed")
            td
              strong {{ key }} &nbsp;
              span.badge {{ value.length }}
              span.glyphicon.glyphicon-chevron-down.pull-right(ng-show="historyIsCollapsed")
              span.glyphicon.glyphicon-chevron-up.pull-right(ng-hide="historyIsCollapsed")
          tr(uib-collapse="!historyIsCollapsed" ng-repeat="comic in value | orderBy: 'id'")
            td
              a(href="{{ comic.url }}") {{ comic.name }}
